*{
  margin: 0px;
  padding: 0px;
  background-color: gainsboro;
}

.heading{
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 10px;
}

.items{
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  margin-top: 30px;
  margin-bottom:  15px;
}

.TEXTfield{
  margin-top: 30px;
  margin-bottom:  15px;
  display: flex;
  align-items: center;
  justify-content: center;
}